/* XXX A. XXX. Distribution is unlimited.

XXX supported XXXnder XXX of XXX for 
XXX and XXX under XXX Contract No. XXX-15-D-XXX. Any opinions,
findings, XXX 
of the author(s) XXX the XXX 
XXX of XXX for XXX and XXX.

© 2023 XXX.

XXX.XXX-11 Patent Rights - XXX (May 2014)

The software/XXX-Is basis

XXX.S. XXX with Unlimited Rights, as defined in XXX Part 
XXX.XXX-XXX or 7014 (Feb 2014). Notwithstanding any copyright notice, 
U.S. XXX rights in this work are defined by XXX XXX.XXX-XXX or 
XXX XXX.XXX-7014 as detailed above. Use of this work other than as specifically
XXX XXX.S. XXX may violate any copyrights that exist in this work. */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}
#navbar {
    background: #59457e;
    /* linear-gradient(to top, #141414, #6441A5); */
    color: white;
    padding: 1%;
}

#main-content {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    flex-grow: 1;
    overflow: hidden;
}
#video-player {
    flex: 0.8;
    background-color: #333;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* This exists so that the chat bar is at the bottom */
#interactionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
}

/* Where chat-content exists */
#chat-area {
    flex-grow: 1;
    margin-bottom: 50px; /* Adjust this based on the height of your controls */
    overflow-y: auto; /* Make chat content scrollable */
}

#command {
    size: 50%;
}

#microphone {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    max-height: 5%;
    bottom: 0; /* This will keep it at the bottom of the chat div */
}

#footer {
    background: linear-gradient(to bottom, #333, #222, #111);
    color: white;
    padding: 10px;
    text-align: center;
}

#toggleMic { 
    color: red;
}

#chatIcon {
    cursor:pointer;
    width: 30px;
    height: 30px;
    margin: 0 10px; /* Horizontal margin to separate images */
}

#controlIcon {
    cursor:pointer;
    width: 30px;
    height: 30px;
    margin: 0 10px; /* Horizontal margin to separate images */
}

#modeSelection {
    opacity: 0.5;
    border-radius: 25px;
    background: #484848;
    padding: 20px;
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: space-between; 
    align-items: center; /* Center items vertically */
  }

#userInteraction {
    flex: 0.2;
    background-color: #222;
    color: white;
    padding: 1%;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    /* overflow: auto; Added overflow property */
}

#modeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #484848;  /* Colored border on the bottom */

}

